html,body { min-height: 100%;}

body
{
    -webkit-font-smoothing: antialiased;
    line-height: 1.7em;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    overflow-x: hidden;
    overflow-y: auto;
    background: #111111;
    text-rendering: optimizeLegibility;
    color: #C0C4C6;
}

#wrapper
{
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    position: relative;

}

.topbar
{
    left:0px;
    right: 0;
    top: 0px;
    height: 70px;
    z-index: 11;
    background: #206EA7;
    box-shadow: 2px 2px 2px 0px rgba(5,5,5,0.06);
    color:#C0C4C6;
    padding:10px;
}

.float-left { float: left; }
.float-right { float: right; }
.margin-5 { margin: 5px; }
.margin-10 { margin: 10px; }

.grid-container 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header header header header"
      "left-content content content content content right-content"
      "left-content content content content content right-content";
    grid-template-rows: 60px 1fr 1fr;
}
.header 
{ 
    grid-area: header;
    background: #206EA7; 
    margin-bottom: 10px;  
}
  
.left-content 
{ 
    grid-area: left-content; 
}
.right-content 
{ 
    grid-area: right-content; 
    margin-left: 10px;

}
.content 
{ 
    grid-area: content;
    background: #222;
}