html,body { min-height: 100%;}

body
{
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    overflow-x: hidden;
    overflow-y: auto;
    background: #111111;
    text-rendering: optimizeLegibility;
    color: #C0C4C6;
    margin: 0;
}

h3
{
    font-size: 16px;
}

.float-left { float: left; }
.float-right { float: right; }
.margin-5 { margin: 5px; }
.margin-10 { margin: 10px; }

.grid-container 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header header header header"
      "left-content content content content content right-content"
      "left-content content content content content right-content";
    grid-template-rows: 90px 1fr 1fr;
}
.header 
{ 
    grid-area: header;
    background: #206EA7; 
    margin-bottom: 10px; 
    color: #FFF; 
}

.header h1
{
    display: inline;
}


.left-content 
{ 
    grid-area: left-content; 
    margin-left: 5px;
    margin-right:5px;
    background: #222;
}

.left-content li
{
    list-style-type: none;
}

.right-content 
{ 
    grid-area: right-content; 
    margin-left: 10px;
    padding-left: 10px;
    background: #222;

}
.content 
{ 
    grid-area: content;
    background: #222;
}

.svg-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    position: relative;
    bottom: -0.105em;
    margin-inline-end: 6px;
    pointer-events: none;
    fill: currentColor;
}