body
{
    margin:0;
}

.nav
{
    background: linear-gradient(90deg,#0d0510 0,#4e047b 100%);
    display: block;
    height: 4.4375rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    color: #FFF;
    margin-bottom: 20px;
}

.nav h1
{
    display: inline;
}

.float-left { float: left; }
.float-right { float: right; }
.margin-5 { margin: 5px; }
.margin-10 { margin: 10px; }